---
import DatedEntryLink from '@components/molecules/DatedEntryLink.astro';
import Tr from '@components/atoms/Tr.astro';
import FoldableList from '@components/organisms/FoldableList.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { readCollection } from '@util/content';

const blog = await readCollection('blog');
const career = await readCollection('career');
const projects = await readCollection('projects');
---

<BaseLayout>
    <FoldableList>
        <h2 slot="title">Blog</h2>

        {blog.reverse().map(post =>
            <li>
                <DatedEntryLink collection="blog" entry={post} />
            </li>
        )}
    </FoldableList>

    <FoldableList>
        <h2 slot="title">
            <Tr en="Projects" es="Proyectos" />
        </h2>

        {projects.reverse().map(project =>
            <li>
                <DatedEntryLink collection="projects" entry={project} />
            </li>
        )}
    </FoldableList>

    <FoldableList>
        <h2 slot="title">
            <Tr en="Career" es="Experiencia" />
        </h2>

        {career.reverse().map(project =>
            <li>
                <DatedEntryLink collection="career" entry={project}>
                    <Fragment slot="entry-title">
                        <Tr value={project.data.org} />
                        <Tr en=" at " es=" en " />
                        <Tr value={project.data.role} />
                    </Fragment>
                </DatedEntryLink>
            </li>
        )}
    </FoldableList>
</BaseLayout>
