---
import { readCollection, type Content } from '@internals/content';
import { setLang } from '@internals/i18n';
import Container from '@components/atoms/Container.astro';
import Tr from '@components/atoms/Tr.astro';
import ContentCards from '@components/molecules/ContentCards.astro';
import BaseLayout from '@components/templates/BaseLayout.astro';
import BlogPostList from '@components/page-index/BlogPostList.astro';
import CareerList from '@components/page-index/CareerList.astro';

setLang(Astro.url);

const projects = present(await readCollection('projects'));
const blog = present(await readCollection('blog'));
const experiments = present(await readCollection('experiments'));
const talks = present(await readCollection('talks'));
const career = present(await readCollection('career')).filter(
  (x) => !x.data.hide,
);

function present<T extends Content>(list: T[]) {
  const pinned = list.filter((x) => 'pinned' in x.data);
  const unpinned = list.filter((x) => !('pinned' in x.data));
  return [...unpinned, ...pinned].reverse().slice(0, 6);
}
---

<BaseLayout>
  <section class="intro">
    <Container>
      <Tr>
        <div slot="en">
          <p>Welcome to my digital garden.</p>
          <p>This is the corner of the internet where I list things I make.</p>
          <p>I hope you find something useful.</p>
        </div>

        <div slot="es">
          <p>Bienvenido a mi jardín digital.</p>
          <p>Este es el rincón de internet donde guardo las cosas que hago.</p>
          <p>Espero que encuentres algo útil.</p>
        </div>
      </Tr>

      <svg
        width="80"
        height="80"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="
          M 4 9
          l 7 6
            7 -6"></path>
      </svg>
    </Container>
  </section>

  <section class="projects">
    <Container>
      <h2>
        <Tr slot="header" en="🧑‍💻 Projects" es="🧑‍💻 Projectos" />
      </h2>
      <ContentCards entries={projects} />
    </Container>
  </section>

  <section class="blog">
    <Container>
      <h2>✍️ Blog</h2>
      <BlogPostList posts={blog} />
    </Container>
  </section>

  <section class="experiments">
    <Container>
      <h2>
        <Tr slot="header" en="🧪 Experiments" es="🧪 Experimentos" />
      </h2>
      <ContentCards entries={experiments} />
    </Container>
  </section>

  <section class="talks">
    <Container>
      <h2>
        <Tr slot="header" en="💬 Talks" es="💬 Charlas" />
      </h2>
      <ContentCards entries={talks} showYear />
    </Container>
  </section>

  <section class="career">
    <Container>
      <h2>
        <Tr slot="header" en="💼 Career" es="💼 Experiencia" />
      </h2>
      <CareerList career={career} />
    </Container>
  </section>

  <script>
    (() => {
      const main = document.querySelector('main');
      const svg = document.querySelector('.intro svg') as HTMLElement;

      if (!main || !svg) return;

      main.addEventListener('scroll', function listener() {
        main.removeEventListener('scroll', listener);
        svg.addEventListener('transitionend', () => svg.remove());
        svg.style.opacity = '0';
      });
    })();
  </script>

  <style is:global>
    body {
      max-height: 100dvh;
    }

    main {
      flex: 1;
      /* scroll-snap-type: y proximity; */
      overflow-x: hidden;
      overflow-y: scroll;

      display: flex;
      flex-direction: column;
      gap: 25dvh;
    }

    section {
      --columns: 1;
      --gap: 3em;
      --text-gap: 0.7em;

      & .container {
        display: flex;
        gap: var(--gap);
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
      }

      & h2 {
        margin: 0;
        font-size: 3em;
        font-weight: lighter;
      }

      &.intro {
        min-height: 70dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: lighter;
        line-height: 200%;

        & svg {
          position: fixed;
          margin: auto;
          bottom: 10px;
          left: 0;
          right: 0;
          stroke: currentColor;
          fill: none;
          stroke-width: 0.5;
          animation: jump-animation 10s infinite;
          transition: opacity 200ms ease-in-out;
        }
      }
    }

    @keyframes jump-animation {
      0%,
      10% {
        transform: translateY(0);
      }
      5% {
        transform: translateY(10px);
      }
    }

    @media (min-width: 769px) {
      main {
        padding-top: 5em;
      }

      section {
        --columns: 2;
        --gap: 4em;
        --text-gap: 1em;
        scroll-snap-align: start;

        &.intro {
          font-size: 2rem;
        }
      }
    }
  </style>
</BaseLayout>
